body {
    margin:0;
    padding:0;
    background-image: url(https://wallpaperaccess.com/full/2825704.gif);
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

nav a {
    text-decoration: none; 
    color: gold;
    font: italic 3rem "Fira Sans", serif;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.4rem;
    align-items: center;
    height: 80vh;
}
.card img {
    height:140px;
    width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.card {
    box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.59);
    height: 200px;
    width: 400px;
    margin: 1rem;
}

h1 {
    color:white;
    margin-top: 6px;
    margin-bottom: 1rem;
}
